* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: #C5E4E7;
    background-repeat: no-repeat;
    height: 100vh;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 41px;
    overflow: hidden;
}

.Logo {
    width: 86.664px;
    height: 53.136px;
}

.main-board {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFF;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.paragraphs {
    color: #5E7A7D;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
}

.number {
    color: #00474B;
    text-align: right;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.billing {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.bill-btn {
    margin-top: 7px;
    width: 311px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}

.bill-btn:hover {
    border-radius: 5px;
    border: 2px solid #26C2AE;
    cursor: pointer;
}

.dollar-icon {
    width: 9.84px;
    height: 15.456px;
    flex-shrink: 0;
}


.tipping {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.tipX {
    margin-top: 32px;
    margin-bottom: 10px;
}

.tipping-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.first-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tipping-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146.631px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #00474B;
}

.tipping-button:hover {
    border-radius: 5px;
    background: #26C2AE;
    cursor: pointer;
}

.percentage {
    color: #FFF;
    text-align: center;
    width: 112.793px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Space Mono;
}

.percentage:hover {
    color: #00474B;
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.custom:hover {
    border-radius: 5px;
    border: 2px solid #26C2AE;
    background: #F3F9FA;
    cursor: pointer;
}

.custom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F3F9FA;
    width: 147.814px;
    height: 48px;
    flex-shrink: 0;
}

.custom-txt {
    color: #547878;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 111.487px;

}




.people-counter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.people-btn {
    margin-top: 7px;
    width: 311px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3F9FA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}

.people-btn:hover {
    border-radius: 5px;
    border: 2px solid #26C2AE;
    cursor: pointer;
    cursor: pointer;
}



.result-board {
    flex-shrink: 0;
    border-radius: 15px;
    background: #00474B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 39px 24px 24px;
}


.tip-amount {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.person {
    color: #7F9D9F;
   
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.tip-number {
    color: #26C2AE;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
}

.result-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 87px;
}




.total-amount {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.total-number {
    color: #26C2AE;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
}

.result-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 117px;
}



.reset-btn {
    border-radius: 5px;
    width: 281px;
    height: 48px;
    flex-shrink: 0;
    background: #26C2AE;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.reset-txt {
    color: #00474B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 216px;
}

.reset-btn:hover {
    border-radius: 5px;
    background: #9FE8DF;
    cursor: pointer;
}


@media(min-width:1440px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 48px;
        overflow: hidden;
    }

    .Logo {
        width: 86.664px;
        height: 53.136px;
        margin-top: 100px;
    }

    .main-board {
        display: flex;
        flex-direction: row;
        border-radius: 25px;
        flex-shrink: 0;
        background: #FFF;
        gap: 40px;
        justify-content: center;
        align-items: center;


    }

    .half-board {
        padding-bottom: 48px;
        gap: 40px;
    }

    .people-counter {
        padding-bottom: 16px;
        padding-right: 48px;
    }

    .main-board {
        padding-right: 32px;
        padding-left: 48px;

    }






    .bill-btn {
        margin-top: 7px;
        width: 379px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #F3F9FA;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }







    .tipping {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .tipX {
        padding-top: 32px;
        padding-bottom: 10px;
    }

    .tipping-board {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .first-3 {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .second-3 {
        display: flex;
        flex-direction: row;
    }

    .tipping-button {
        width: 117px;
    }




    .custom {

        width: 117px;

        flex-shrink: 0;
    }

    .custom-txt {
        color: #547878;

        width: 117.487px;
        font-family: Space Mono;
    }



    .people-btn {
        width: 379px;

    }



    .tip-number {
        color: #26C2AE;
text-align: right;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1px;
    }

    .result-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 87px;
        margin-bottom: 30px;
    }

    .total-number {
        color: #26C2AE;
        text-align: right;
        font-family: Space Mono;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1px;
    }

    .result-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 150px;
    }



    .reset-btn {
        width: 333px;
        padding-left: 10px;
        padding-right: 10px;
        flex-shrink: 0;
    }

    

    





}